body{
	background-color:#333333;
	position:relative;
}

.top-select-variables{
	background-color:#393938;
	position:absolute;
	top:0px;
	text-color:white;
	padding:0px;
	border-radius: 0px 0px 25px 25px;
	width:90%;
	margin-left:5%;
  	margin-right:5%;
	height:200px;
}

.variable-title{
	color:#D9DE41;
}

.variable-title-div{
	width:35%;
	flex:1;
	float:left;
	padding-left:2%;
	padding-right:1%;
	padding-bottom:0px;
	margin:0px;
}

.sources{
	width:200px;
	right:0px;
	position: absolute;
}

.styled-select{
	background:transparent;
	width:100%;
	height:50px;
	background: url(dropdownarrow.png) no-repeat right;
	border-color:#E7E1CF;
	border-radius:0;
	-webkit-appearance:none;
	text-color:#E7E1CF;
	color:#E7E1CF;
	padding-left:15px;
}

.dropdown{
	width:95%;
	height:50px;
	background: url(dropdownarrow.png) no-repeat right;
	-webkit-appearance:none;
	text-color:#E7E1CF;
	color:#E7E1CF;
	border: 1px solid #E7E1CF;
}

.dropdown-header{
	font-size:40px;
	margin:0px;
	margin-left:15px;
}

.dropdown:hover ul{
	display:block;
}

ul{
	width:33.25%;
	position:absolute;
    border: 1px solid #E7E1CF;
    height:200px;
    overflow-y:auto;
    margin:0px;
    margin-left:-1px;
    padding:0px;
    margin-top:4px;
    display:none;
}

li {
	background-color:#393938;
    font-size:40px;
    margin:0px;
    padding-left:15px;
}

li.selected {
	background-color:black;
}

li:hover {
	background-color:black;
}

option{
	float:left;
	position:absolute;
}

.source{
	height:60px;
	text-align:center;
	background:white;
	margin:2px;
}

.source-select{
	margin:auto;
	text-align:center;
}

.source-select hr{
	padding:0px;
	margin-top:0;
	margin-bottom:0;
	height:1px;
	width:120px;
	border:none;
	background-color:#797978;
	color:#797978;
}

.center-label{
	fill: rgba(57,57,56,0.9);
}

.vr{
	height:120px;
	width:1px;
	margin:0px;
	background-color:#797978;
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:-62px;
}

hr{
	padding:0px;
	margin-top:-1em;
	height:1px;
	border:none;
	background-color:#797978;
	color:#797978;
}

#canvas{
	min-width:1000px;
	width:99%;
	height:800px;
	background-color:#393938;
	margin-top:250px;
	margin-left:1%;
	margin-right:1%;
}

svg g text.amount{
	visibility:hidden;
}

svg g:hover text.amount{
	visibility:visible;
}

svg > g:hover > rect{
	fill:#00ff00;
}

svg g g:hover text.genSrc{
	font-weight: bold;
}

rect.genSrc{
	visibility:hidden;
	fill: rgb(57,57,56);
}

.specSrc{
	visibility:hidden;
}

svg g g path.highlight-arc{
	visibility: hidden;
}

svg g g:hover path.highlight-arc{
	visibility: visible;
}